* {
    margin: 0;
}

.header {
    font-size: 24px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    font-family: Rockwell, 'Times New Roman', Times, serif;
    .options-header {
        padding: 30px 24px;
        border: 3px solid red;
        display: flex;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }
    .profile-header {
        border: 3px solid blue;
        padding: 20px 24px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        .reputation {
            border: 3px solid green;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .profile {
            border: 3px solid yellow;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
            img {
                border-radius: 50%;
                height: 50px;
            }
        }
    }
}


