* {
    margin: 0;
    font-family: Rockwell, 'Times New Roman', Times, serif;
}

*, ::before, ::after {
    box-sizing: border-box;
}

:root {
    --orange-1: rgb(192, 86, 0);
    --orange-2: rgb(253, 114, 33);
    --orange-3: rgb(255, 136, 0);
    --orange-4: rgb(133, 71, 1);
    --yellow-1: rgb(255, 187, 0);
    --yellow-2: rgb(247, 223, 119);
    --yellow-3: rgb(253, 241, 189);
    --gray-1: rgb(46, 46, 46);
    --gray-2: rgb(75, 75, 75);
    --gray-3: rgb(129, 129, 129);
    --gray-4: rgb(214, 214, 214);
}

body {
    display: grid;
    grid-template-rows: 1fr 7fr;
    .header {
        font-size: 24px;
        background-color: var(--orange-1);
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: bolder;
        box-shadow: inset 0 -0.2em var(--orange-4);
        .options-header {
            padding: 24px;
            display: flex;
            gap: 60px;
            justify-content: center;
            align-items: center;
            .recommend {
                text-decoration: none;
                color: white;
            }
            .option:hover {
                cursor: pointer;
                color: var(--yellow-3);
            }
        }
        .profile-header {
            padding: 20px 24px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            gap: 14px;
            .reputation {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                svg {
                    padding-right: 8px;
                    padding-left: 8px;
                    width: 30px;
                }
            }
            .profile {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;
                padding-right: 40px;
                img {
                    border-radius: 50%;
                    height: 40px;
                }
            }
        }
    }
    
    // Body of webpage
    .body {
        display: grid;
        grid-template: 1fr / 1fr 3fr 1fr;
        .sidebar {
            color: white;
            font-size: 24px;
            font-weight: bold;
            padding-top: 16px;
            background-color: var(--orange-2);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            .sidebar-items {
                display: grid;
                grid-template: repeat(autofit, 1fr);
                padding: 12px;
                .item {
                    width: clamp(200px, 300px, 350px);
                    height: clamp(100px, 150px, 200px);
                    padding-top: 8px;
                    border: 3px solid white;
                    margin: 12px;
                    border-radius: 16px;
                    display: flex;
                    justify-content: center;
                    font-size: 16px;
                    color: var(--gray-1);
                    background-color: white;
                    box-shadow: 0.3em 0.3em var(--gray-4);
                    &:hover{
                        background-color: var(--yellow-3);
                        border: 3px solid var(--yellow-1);
                        box-shadow: none;
                        cursor: pointer;
                    }
                }
            }
        }
        .main {
            color: var(--gray-1);
            font-size: 24px;
            font-weight: bold;
            padding-top: 16px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 24px;
            .main-menu {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .create {
                    font-size: 20px;
                    color: white;
                    background-color: var(--orange-3);
                    height: 50px;
                    width: 200px;
                    padding: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    border-radius: 20px;
                    border: 3px solid var(--orange-4);
                    &:hover {
                        background-color: var(--yellow-2);
                        border: 3px solid var(--orange-2);
                        color: var(--orange-4);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}